src/test/resources/wsdl/apache-cxf/validator_wsdl/bp2717and2726.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://apache.org/headers/rpc_lit"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://apache.org/headers/rpc_lit">

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apache.org/headers/rpc_lit" elementFormDefault="qualified">
            <element name="header" type="tns:headerInfo"/>
            <complexType name="headerInfo">
                <sequence>
                    <element name="originator" type="xsd:string"/>
                    <element name="message" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="inputType">
                <sequence>
                    <element name="requestType" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="outputType">
                <sequence>
                    <element name="responseType" type="xsd:string"/>
                </sequence>
            </complexType>
        </schema>
    </types>

    <message name="requestMessage">
        <part type="tns:inputType" name="in"/>
        <part element="tns:header" name="header1"/>
        <part element="tns:header" name="header2"/>
        <part element="tns:header" name="header3"/>


        <!-- part type="tns:headerInfo" name="header1"/>
        <part type="tns:headerInfo" name="header2"/>
        <part type="tns:headerInfo" name="header3"/ -->
    </message>

    <message name="responseMessage">
        <part type="tns:outputType" name="out"/>
    </message>

    <portType name="testPortType">
        <operation name="operationOne">
            <input message="tns:requestMessage" name="requestMessage"/>
            <output message="tns:responseMessage" name="responseMessage"/>
        </operation>
    </portType>

    <binding name="testSOAPBinding" type="tns:testPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="operationOne">
            <soap:operation soapAction="" style="rpc"/>
            <input name="requestMessage">
                <soap:body namespace="http://apache.org/headers/coloc/types" parts="in" use="literal"/>
                <soap:header message="tns:requestMessage" part="header1" use="literal" namespace="http://apache.org/abc"/>
                <soap:header message="tns:requestMessage" part="header2" use="literal"/>
                <soap:header message="tns:requestMessage" part="header3" use="literal" namespace="http://apache.org/abc"/>
            </input>
            <output name="responseMessage">
                <soap:body namespace="http://apache.org/abc" parts="out" use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="SOAPService">
        <port binding="tns:testSOAPBinding" name="SoapPort">
            <soap:address location="http://localhost:9222/service"/>
        </port>
    </service>

</definitions>
