src/test/resources/xsd/types/invalid-type-name-danish-chars.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://domain.net/domain/v1"
           targetNamespace="http://domain.net/domain/v1"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- name must be ascii [a-z0-9] -->
    <xs:complexType name="AccåntType">
        <xs:sequence>
            <xs:element name="Account" type="xs:string" />
            <xs:element name="Balance" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
